.advantages {
  padding: 12px 27px 42px 20px;

  background-color: $color-bg;
}

.advantages__header {
  margin: 0 0 35px;

  font-size: 36px;
  line-height: 60px;
  color: $color-text-header;
}

.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__item {
  margin-bottom: 20px;
  padding-left: 80px;

  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__description {
  margin: 0;

  font-family: $font-family--alt;
  color: $color-text;
}
