.advantages {
  padding-top: 17px;
  padding-bottom: 42px;

  background-color: $color-bg;

  @include wrapper;
}

.advantages__header {
  margin: 0 0 30px 0;

  @include font(400, 36px, 60px, $font-family, $color-text-header);
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;

  counter-reset: my-awesome-counter;
}

.advantages__item {
  position: relative;

  margin-bottom: 20px;

  counter-increment: my-awesome-counter;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 60px;
    height: 60px;
  }

  &--nutrition {
    &::after {
      background: url("../img/advantage-leaf@1x.png") $color-brand;
      background-repeat: no-repeat;
      background-position: 5px;
    }
  }

  &--powder {
    &::after {
      background: url("../img/advantage-powder@1x.png") $color-brand;
      background-repeat: no-repeat;
      background-position: 5px;
    }
  }

  &--dining {
    &::after {
      background: url("../img/advantage-dining@1x.png") $color-brand;
      background-repeat: no-repeat;
      background-position: 5px;
    }
  }

  &--clock {
    &::after {
      background: url("../img/advantage-clock@1x.png") $color-brand;
      background-repeat: no-repeat;
      background-position: 5px;
    }
  }
}

.advantages__description {
  min-height: 60px;
  margin: 0 0 0 80px;

  @include font(400, 14px, 18px, $font-family--alt, $color-text);
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 46px;
    padding-bottom: 0;
  }

  .advantages__header {
    margin: 0 0 71px 0;

    @include font(400, 60px, 60px, $font-family, $color-text-header);
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .advantages__item {
    position: relative;
    z-index: 0;

    min-height: 286px;
    margin-bottom: 31px;
    padding-top: 112px;
    padding-right: 1%;

    &::before {
      content: "" counter(my-awesome-counter);
      position: absolute;
      top: -40px;
      z-index: -1;

      display: block;

      @include font(400, 281px, 1, $font-family, #f2f2f2);
    }


    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 80px;
      height: 80px;

      background-position: 15px;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }

    &:nth-child(4n+1) {
      &::before {
        right: 40.18%;
      }
    }

    &:nth-child(4n+2) {
      &::before {
        right: 24.18%;
      }
    }

    &:nth-child(4n+3) {
      &::before {
        right: 36.18%;
      }
    }

    &:nth-child(4n) {
      &::before {
        right: 23.18%;
      }
    }

    &--nutrition {
      width: 54.24%;
      padding-right: 17%;
    }

    &--powder {
      width: 45.76%;
      padding-right: 14%;
    }

    &--dining {
      width: 54.24%;
      padding-right: 17%;
    }

    &--clock {
      width: 45.76%;
      padding-right: 11%;
    }
  }

  .advantages__description {
    margin-left: 0;

    @include font(400, 16px, 24px, $font-family--alt, $color-text);
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 73px;

    border-bottom: none;
  }

  .advantages__header {
    margin-bottom: 73px;
  }

  .advantages__item {
    width: 26.64%;
    min-height: 230px;
    margin: 0;
    padding-right: 60px;

    &:nth-child(4n) {
      width: 20.08%;
      padding-right: 0;

      &::before {
        right: 0;
      }
    }

    &:nth-child(4n+1) {
      &::before {
        right: 29.18%;
      }
    }

    &:nth-child(4n+3) {
      &::before {
        right: 24.18%;
      }
    }
  }
}
