.button {
  display: block;
  width: 100%;
  padding: 13px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-btn;
  border: none;

  @include font(400, 14px, 14px, $font-family, $color-btn-text);


  &--select {
    padding: 10px 16px 12px 14px;

    font-size: 14px;
    line-height: 18px;

    &:hover {
      background-color: $color-btn--hover;
    }

    &:active {
      color: $color-btn-text--active;
    }
  }

  &--order {
    padding: 9px 13px 10px;

    font-size: 16px;
    line-height: 20px;

    @include font(400, 16px, 20px, $font-family, $color-text--rev);

    &:hover {
      background-color: $color-btn--hover;
    }

    &:active {
      color: $color-btn-text--active;
    }
  }

  &--send {
    font-size: 16px;
    line-height: 20px;

    @include font(400, 16px, 20px, $font-family, $color-text--rev);

    &:hover {
      background-color: $color-btn--hover;
    }

    &:active {
      color: $color-btn-text--active;
    }
  }

  &--show {
    padding: 8px 10px 9px;

    background-color: #f2f2f2;

    @include font(400, 16px, 20px, $font-family, #444444);

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .button {
    &--select {
      width: 245px;
      padding: 15px 16px 16px 14px;

      font-size: 20px;
      line-height: 20px;
    }

    &--send {
      width: 283px;

      font-size: 20px;
      line-height: 20px;
    }
  }
}
