.category {
  position: relative;

  padding: 30px 34px 20px 20px;

  background-color: $color-bg--dark;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;

    width: 50px;
    height: 50px;

    background-color: $color-bg;
    border-radius: 50%;
  }

  &--losing {
    &::after {
      content: "";
      position: absolute;
      top: 22px;
      left: 30px;

      width: 35px;
      height: 49px;

      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }
  }

  &--gain {
    &::after {
      content: "";
      position: absolute;
      top: 35px;
      left: 13px;

      width: 67px;
      height: 28px;

      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
    }
  }
}

.category__header {
  margin: 0 0 29px 72px;

  text-transform: uppercase;

  @include font(400, 24px, 37px, $font-family, $color-header);
}

.category__text {
  margin: 0 0 18px 0;
  padding-bottom: 23px;

  border-bottom: 1px solid $color-border;

  @include font(400, 14px, 18px, $font-family--alt, $color-text);
}

.category__link {
  position: relative;

  text-transform: uppercase;
  text-decoration: none;

  @include font(400, 16px, 16px, $font-family, $color-header);

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 96px;

    width: 26px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    &::before {
      width: 34px;
      height: 12px;

      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);

    &::before {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .category {
    padding: 76px 56px 60px 52px;

    &:nth-child(2) .category__text {
      width: 372px;
    }

    &::before {
      top: 92px;
      right: 62px;
      left: auto;

      width: 200px;
      height: 200px;

      background-color: $color-bg;
      border-radius: 50%;
    }

    &--losing {
      &::after {
        top: 80px;
        right: 91px;
        left: auto;

        width: 141px;
        height: 194px;
      }
    }

    &--gain {
      &::after {
        top: 135px;
        right: 28px;
        left: auto;

        width: 268px;
        height: 113px;
      }
    }
  }

  .category__header {
    margin: 0 0 25px 0;

    @include font(400, 36px, 37px, $font-family, $color-header);
  }

  .category__text {
    width: 340px;
    margin: 0 0 32px 0;

    border-bottom: none;

    @include font(400, 16px, 24px, $font-family--alt, $color-text);
  }

  .category__link {
    @include font(400, 20px, 20px, $font-family, $color-header);

    &--losing {
      &::before {
        top: 10px;
        left: 131px;
      }
    }

    &--gain {
      &::before {
        top: 10px;
        left: 125px;
      }
    }
  }
}


@media (min-width: $desktop-width) {
  .category {
    width: 570px;
    margin-bottom: 0;

    &:nth-child(2) .category__text {
      width: 462px;
    }

    &::before {
      top: 47px;
      right: auto;
      left: 52px;

      width: 100px;
      height: 100px;
    }

    &--losing {
      &::after {
        top: 41px;
        right: auto;
        left: 67px;

        width: 71px;
        height: 97px;
      }
    }

    &--gain {
      &::after {
        top: 69px;
        right: auto;
        left: 34px;

        width: 134px;
        height: 57px;
      }
    }
  }


  .category__header {
    margin: 0 0 72px 162px;
  }

  .category__text {
    width: 100%;
    margin: 0 0 8px 0;
  }
}
