.category {
  background-color: $color-bg--alt;
  margin-bottom: 20px;
  padding: 39px 36px 22px 21px;

.categories__item {
}

.category__header {
  margin: 0 0 36px 72px;

  text-transform: uppercase;

  @include font(400, 24px, 37px, $font-family, $color-text-header);
}

.category__text {
  margin-bottom: 44px;

  @include font(400, 14px, 18px, $font-family--alt, $color-text);
}

.category__link {
  text-transform: uppercase;
  text-decoration: none;

  @include font(400, 16px, 16px, $font-family, $color-text-header);
}
