.checkbox-list__item {
  margin: 0 0 23px 0;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .checkbox-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .checkbox-list__item {
    width: 54.78%;
    min-height: 40px;
    margin: 0 0 32px 0;
    padding: 8px 0 0 12px;

    &:nth-child(2n) {
      width: calc(100% - 54.78%);
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .checkbox-list__item {
    width: 25%;

    &:nth-child(2n) {
      width: 25%;
    }
  }
}
