.checkbox__label {
  position: relative;

  display: block;
  padding-top: 1px;
  padding-left: 46px;

  text-transform: uppercase;

  cursor: pointer;

  @include font(400, 16px, 18px, $font-family, $color-text-label);

  &:hover > .checkbox__button {
    border-color: #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.checkbox__button {
  position: absolute;

  width: 30px;
  height: 30px;
  margin-top: -4px;
  margin-left: -46px;

  border: 1px solid #cdcdcd;
}

.checkbox__input:checked + .checkbox__button {
  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 3px;

    display: block;
    width: 22px;
    height: 17px;

    background-image: url("../img/icon-tick.svg");
  }
}

@media (min-width: $tablet-width) {
  .checkbox__label {
    padding-left: 59px;

    @include font(400, 20px, 20px, $font-family, $color-text-label);
  }

  .checkbox__button {
    width: 40px;
    height: 40px;
    margin-top: -9px;
    margin-left: -58px;
  }

  .checkbox__input:checked + .checkbox__button {
    &::before {
      top: 10px;
      left: 8px;
    }
  }
}
