.contacts__wrapper {
  display: flex;
  justify-content: space-between;

  @include wrapper;
}

.contacts__text {
  width: 124px;
  margin: 0;

  text-transform: uppercase;

  @include font(400, 16px, 20px, $font-family, $color-text-header);
}

.contacts__address {
  width: 139px;

  font-style: normal;

  @include font(400, 14px, 20px, $font-family--alt, $color-text);
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding-right: 70px;
    padding-left: 70px;
  }

  .contacts__text {
    width: 154px;

    @include font(400, 20px, 25px, $font-family, $color-text-header);
  }

  .contacts__address {
    width: 190px;

    text-align: right;

    @include font(400, 16px, 20px, $font-family--alt, $color-text);
  }

  .contacts__city {
    display: block;
    margin-top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    min-width: 570px;
    padding-right: 55px;
    padding-left: 76px;
  }

  .contacts__address {
    text-align: left;
  }
}
