.contacts__text {
  font-size: 16px;
  line-height: 20px;
  color: $color-text-header;
  text-transform: uppercase;
}

.contacts__address {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $color-text;
}
