.contacts__address {
  padding: 28px 0;

  background-color: $color-bg--alt;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;

  @include wrapper;
}

.contacts__text {
  width: 124px;
  margin: 0;

  text-transform: uppercase;

  @include font(400, 16px, 20px, $font-family, $color-text-header);
}

.contacts__street {
  width: 139px;

  font-style: normal;

  @include font(400, 14px, 20px, $font-family--alt, $color-text);
}

@media (min-width: $tablet-width) {
  .contacts {
    background-color: #f2f2f2;
  }

  .contacts__address {
    z-index: 1;

    padding: 65px 40px 62px 40px;

    background-color: $color-bg;
  }


  .contacts__text {
    width: 154px;

    @include font(400, 20px, 25px, $font-family, $color-text-header);
  }

  .contacts__street {
    width: 190px;

    text-align: right;

    @include font(400, 16px, 20px, $font-family--alt, $color-text);
  }

  .contacts__city {
    display: block;
    margin-top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    padding: 0;
  }

  .contacts__address {
    position: absolute;
    top: 95px;

    min-width: 570px;
    margin-left: calc(100vw / 2 - 1300px / 2 + 40px);
    padding-right: 55px;
    padding-left: 76px;

    background-color: $color-bg;
  }

  .contacts__street {
    text-align: left;
  }
}
