.copyright {
  padding: 20px 0 20px 0;
}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include wrapper;
}

.copyright__text {
  text-decoration: none;

  @include font(400, 16px, 16px, $font-family--alt, $color-text);

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.copyright-logo svg {
  display: block;
  width: 27px;
  height: 34px;


  & .st0 {
    fill: #666666;
  }

  &:hover svg,
  &:hover .st0 {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright__text {
    padding-right: 22px;
  }
}
