.extra-product {
  padding-top: 12px;
  padding-bottom: 16px;

  border-bottom: 1px solid $color-border;

  &:first-child {
    border-top: 1px solid $color-border;
  }
}

.extra-product__link {
  text-decoration: none;
}

.extra-product__header {
  margin: 0 0 14px 0;

  text-transform: uppercase;

  @include font(400,  16px, 16px, $font-family, $color-header--alt);
}

.extra-product__order {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .extra-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 36px 27px 38px;

    border-right: 1px solid $color-border;
    border-left: 1px solid $color-border;
  }

  .extra-product__header {
    display: inline-block;
    margin: 0 0 25px 0;

    vertical-align: top;

    @include font(400,  20px, 20px, $font-family, $color-header--alt);
  }
}

@media (min-width: $desktop-width) {
  .extra-product {
    width: 895px;
    padding: 14px 0 17px 0;

    border-top: none;
    border-right: none;
    border-bottom: 1px solid $color-border;
    border-left: none;
  }

  .extra-product__header {
    margin: 0;
  }

  .extra-product__link {
    width: 323px;
    margin-right: 132px;
    padding-top: 10px;
  }

  .extra-product__facts {
    width: 290px;
  }

  .extra-product__order {
    justify-content: space-between;
    width: 245px;
    margin: 0;
  }
}
