.extra-products {
  padding-top: 34px;
}

.extra-products__wrapper {
  @include wrapper;
}

.extra-products__list {
  @include list-reset;
}

.extra-products__header {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 34px;

  border-bottom: 1px solid $color-border;

  @include font(400, 24px, 24px, $font-family, $color-text-header);
}


@media (min-width: $tablet-width) {
  .extra-products {
    padding-top: 48px;
  }

  .extra-products__header {
    padding-bottom: 80px;
    padding-left: 38px;

    @include font(400,  36px, 36px, $font-family, $color-text-header--alt);
  }
}

@media (min-width: $desktop-width) {
  .extra-products {
    padding-top: 60px;
  }

  .extra-products__wrapper {
    min-width: 895px;
    padding-right: 80px;
  }

  .extra-products__header {
    padding-left: 0;
  }
}
