.extra {
  padding-top: 34px;
}

.extra__wrapper {
  @include wrapper;
}

.extra__list {
  @include list-reset;
}

.extra__header {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 34px;

  border-bottom: 1px solid $color-border;

  @include font(400, 24px, 24px, $font-family, $color-text-header);
}


@media (min-width: $tablet-width) {
  .extra {
    padding-top: 48px;
  }

  .extra__header {
    padding-bottom: 80px;
    padding-left: 38px;

    @include font(400,  36px, 36px, $font-family, $color-text-header--alt);
  }
}

@media (min-width: $desktop-width) {
  .extra {
    padding-top: 58px;
  }

  .extra__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-width: 895px;
  }

  .extra__header {
    padding-left: 0;

    border: none;
  }

  .extra__list {
    width: 895px;
  }
}
