.extra {
  padding-top: 28px;
  padding-bottom: 35px;
}

.extra__wrapper {
  @include wrapper;
}

.extra__list {
  margin: 0 0 39px;
  padding: 0;

  list-style: none;
}

.extra__header {
  position: relative;

  display: inline-block;
  margin: 0 0 34px;
  padding: 0 22px 0 0;

  vertical-align: baseline;

  background-color: $color-bg--light;

  @include font(400, 24px, 24px, $font-family, $color-header);
  @include header-decor;
}


@media (min-width: $tablet-width) {
  .extra {
    padding-top: 68px;
    padding-bottom: 75px;
  }

  .extra__list {
    margin-bottom: 68px;
  }

  .extra__header {
    margin-bottom: 81px;
    padding-left: 38px;

    @include font(400,  36px, 36px, $font-family, $color-header--alt);
  }
}

@media (min-width: $desktop-width) {
  .extra {
    margin-left: 0;
    padding-top: 76px;
    padding-bottom: 86px;
  }

  .extra__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-width: 895px;
  }


  .extra-product {
    justify-content: space-between;
    padding: 25px 0 6px;
  }


  .extra__header {
    min-width: 367px;
    margin-bottom: 78px;
    margin-left: -40px;
    padding-right: 40px;

    border: none;
  }

  .extra__list {
    width: 895px;
    margin-bottom: 0;
  }
}
