.field {
  position: relative;

  display: flex;
  margin-bottom: 16px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.field__label {
  margin: auto 0;

  text-transform: uppercase;

  @include font(400, 16px, 18px, $font-family, $color-label);
}

.field__input {
  flex-grow: 1;
  width: 170px;
  height: 43px;
  margin: 0 0 0 15px;
  padding: 11px 15px 14px 15px;

  text-transform: uppercase;

  border: 0;
  outline: 1px solid rgba(205, 205, 205, 0.5);
  outline-offset: 1px;

  @include font(400, 16px, 18px, $font-family, $color-text);

  &::-moz-placeholder,
  &::placeholder {
    padding-top: 2px;

    text-transform: uppercase;

    @include font(400, 16px, 18px, $font-family, $color-placeholder);
  }

  .field__icon {
    fill: #222222;
  }

  &[type="email"] {
    padding-right: 43px;
  }

  &[type="tel"] {
    padding-right: 43px;
  }

  &[required]:invalid {
    outline: 2px solid #ff8282;

    & + .field__icon {
      fill: #ff8282;
    }
  }

  &:hover,
  &[required]:hover {
    outline: 1px solid #cdcdcd;

    & + .field__icon {
      fill: #222222;
    }
  }

  &:focus,
  &[required]:focus,
  &:active,
  &[required]:active {
    outline: 2px solid #444444;

    &::-moz-placeholder,
    &::placeholder {
      opacity: 0;
    }

    & + .field__icon {
      fill: #68b738;
    }
  }
}

.field__icon {
  content: "";
  position: absolute;

  display: block;

  &--email {
    top: 15px;
    right: 15px;

    width: 18px;
    height: 14px;
  }

  &--tel {
    top: 12px;
    right: 12px;

    display: block;
    width: 21px;
    height: 21px;
  }
}

@media (min-width: $tablet-width) {
  .field {
    margin-bottom: 20px;
  }

  .field__label {
    @include font(400, 20px, 20px, $font-family, $color-label);
  }

  .field__input {
    height: 52px;
    margin: 0 0 0 18px;
    padding: 15px 15px 14px 22px;

    &::-moz-placeholder,
    &::placeholder {
      @include font(400, 20px, 20px, $font-family, $color-text);
    }
  }

  .field__icon {
    &--email {
      top: 20px;
      right: 16px;
    }

    &--tel {
      top: 18px;
      right: 13px;
    }
  }
}

@media (min-width: $desktop-width) {
  .field {
    &--email {
      width: 46.7%;
      margin-right: 78px;
    }

    &--tel {
      width: 46.9%;
    }
  }
}
