.form__wrapper {
  @include wrapper;
}

.form__section {
  &--contacts {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &--extra {
    padding-top: 30px;
    padding-bottom: 41px;
  }
}

.form__fieldset {
  padding: 0;

  @include fieldset-reset();

  &--programm {
    margin-right: -20px;
    margin-left: -20px;

    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
  }
}

.form__header {
  position: relative;

  display: block;
  margin: 0 0 0 -20px;
  padding: 0 20px 0 20px;

  vertical-align: baseline;

  background-color: $color-bg--light;

  @include font(400, 24px, 24px, $font-family, $color-header);
  @include header-decor;

  &--contacts {
    width: 221px;
    margin-bottom: 34px;
  }

  &--comment {
    display: inline-block;
    margin-bottom: 34px;

    vertical-align: baseline;
  }

  &--extra {
    margin-bottom: 38px;
  }
}

.form__list {
  margin: 0;
  padding: 0 0 24px 0;

  list-style: none;

  &--contacts {
    padding-bottom: 0;
  }

  &--extra {
    padding-bottom: 0;
  }
}

.form__field {
  margin: 0 0 16px 0;


  &:last-child {
    margin-bottom: 0;
  }
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  padding: 11px 12px 11px 14px;
  overflow: auto;

  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  outline: none;

  resize: none;

  @include font(400, 16px, 20px, $font-family, $color-text);

  &::-moz-placeholder,
  &::placeholder {
    text-transform: uppercase;

    @include font(400, 16px, 20px, $font-family, $color-text);
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus,
  &:active {
    border-color: transparent;
    outline: 2px solid #444444;

    &::-moz-placeholder,
    &::placeholder {
      opacity: 0;
    }
  }
}

.form__button {
  margin-bottom: 21px;

  cursor: pointer;
}

.form__text {
  display: block;
  margin-bottom: 33px;

  text-align: center;

  @include font(400, 14px, 16px, $font-family--alt, $color-text);
}

@media (min-width: $tablet-width) {
  .form {
    padding-bottom: 72px;
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-right: 70px;
    padding-left: 70px;
  }

  .form__section {
    width: 100%;

    &--programm {
      padding: 48px 0 52px 0;

      border: none;
    }

    &--contacts {
      padding-top: 23px;
    }

    &--comment {
      padding-top: 35px;
    }

    &--extra {
      padding-top: 62px;
      padding-bottom: 46px;
    }
  }

  .form__fieldset {
    &--programm {
      border: none;
    }
  }

  .form__header {
    margin: 0 0 76px -40px;
    padding: 0 42px 0 39px;

    @include font(400, 36px, 36px, $font-family, $color-header);

    &--contacts {
      width: auto;

      white-space: nowrap;
    }

    &--extra {
      margin-bottom: 62px;
    }
  }

  .form__field {
    margin-bottom: 20px;
  }

  .form__button {
    margin-right: 62px;
    margin-bottom: 0;

    @include font(400, 20px, 20px, $font-family, $color-text--rev);
  }

  .form__text {
    width: auto;
    margin-bottom: 0;
    padding-top: 15px;

    @include font(400, 16px, 16px, $font-family--alt, $color-text);
  }

  .form__textarea {
    min-height: 174px;
    padding-left: 18px;

    @include font(400, 20px, 30px, $font-family, $color-text);

    &::-moz-placeholder,
    &::placeholder {
      text-transform: uppercase;

      @include font(400, 20px, 30px, $font-family, $color-placeholder);
    }
  }
}

@media (min-width: $desktop-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 83px;
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-width: 1300px;

    @include wrapper;
  }

  .form__section {
    width: 100%;
    padding: 0 0 65px 0;

    &--cat {
      width: 46.6%;
      margin-right: 80px;
      padding-bottom: 0;
    }

    &--programm {
      width: 46.8%;
      padding-bottom: 0;
    }

    &--contacts {
      padding-top: 46px;
      padding-bottom: 48px;
    }

    &--comment {
      padding-bottom: 68px;
    }

    &--extra {
      padding-bottom: 52px;
    }
  }

  .form__header {
    margin: 0 0 0 -40px;

    &--contacts {
      margin-bottom: 74px;
      padding: 0 40px 0 40px;
    }

    &--comment {
      margin-bottom: 76px;
    }

    &--extra {
      margin-bottom: 65px;
    }
  }

  .form__list {
    &--contacts {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 0;
    }
  }

  .form__button {
    display: inline-block;
    width: 46.6%;
    margin-right: 80px;
    padding: 15px 12px 16px 12px;

    vertical-align: top;
  }

  .form__text {
    display: inline-block;
    width: 180px;
    padding-top: 15px;

    vertical-align: top;
  }
}
