.form__fieldset {
  padding: 0;

  @include fieldset-reset();

  &:nth-child(2) {
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
  }

  &:nth-child(3) {
    padding-top: 29px;

    .form__list {
      padding-bottom: 30px;
    }
  }

  &:nth-child(5) {
    padding-top: 28px;

    .form__header {
      margin-bottom: 38px;
    }

    .form__list {
      padding-bottom: 40px;
    }
  }
}

.form__wrapper {
  @include wrapper;
}

.form__header {
  margin: 0 0 34px 0;
  padding: 0;

  @include font(400, 24px, 24px, $font-family, $color-text-header);
}

.form__list {
  margin: 0;
  padding: 0 0 24px 0;

  list-style: none;
}

.form__field {
  margin: 0 0 16px 0;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  padding: 11px 12px 11px 14px;

  text-transform: uppercase;

  @include font(400, 16px, 20px, $font-family, $color-text);

  &::-moz-placeholder {
    text-transform: uppercase;

    @include font(400, 16px, 20px, $font-family, $color-text);
  }

  &:focus {
    border: 2px solid #444444;

    &::-moz-placeholder {
      opacity: 0;
    }
  }
}

.form__button {
  margin-bottom: 21px;

  cursor: pointer;

  @include button(100%, 11px, 12px, 10px, 13px, $color-brand);
  @include font(400, 16px, 20px, $font-family, $color-text--rev);

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.form__text {
  display: block;
  margin-bottom: 33px;

  text-align: center;

  @include font(400, 14px, 16px, $font-family--alt,$color-text);
}

@media (min-width: $tablet-width) {
  .form {
    padding-bottom: 72px;

    & > .form__wrapper {
      display: flex;
    }
  }

  .form__field {
    margin-bottom: 20px;
  }

  .form__fieldset {
    &:nth-child(2) {
      padding: 48px 0 52px 0;

      border: none;
    }

    &:nth-child(3) {
      padding-top: 23px;

      .form__list {
        padding-bottom: 65px;
      }
    }

    &:nth-child(5) {
      padding-top: 65px;

      .form__header {
        margin-bottom: 57px;
      }

      .form__list {
        padding-bottom: 54px;
      }
    }
  }

  .form__wrapper {
    padding-right: 70px;
    padding-left: 70px;
  }

  .form__header {
    margin: 0 0 76px 0;

    @include font(400, 36px, 36px, $font-family, $color-text-header);
  }

  .form__textarea {
    min-height: 174px;
  }

  .form__button {
    margin-right: 60px;
    margin-bottom: 0;

    @include button(45%, 15px, 9px, 16px, 6px, $color-brand);
    @include font(400, 20px, 20px, $font-family, $color-text--rev);
  }

  .form__text {
    width: auto;
    margin-bottom: 0;

    @include font(400, 16px, 16px, $font-family--alt,$color-text);
  }
}

@media (min-width: $desktop-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 83px;

    & > .form__wrapper {
      display: block;
      min-width: 1300px;
    }
  }

  .form__wrapper {
    padding-right: 40px;
    padding-left: 40px;
  }

  .form__fieldset {
    width: 100%;

    &:nth-child(-n+2) {
      width: 50%;
    }

    &:nth-child(1) {
      & .form__wrapper {
        max-width: 650px;
        margin-right: 0;
        margin-left: auto;
      }
    }

    &:nth-child(2) {
      padding: 0;

      & .form__wrapper {
        max-width: 650px;
        margin-right: auto;
        margin-left: 0;
      }
    }

    &:nth-child(3) {
      padding-top: 44px;

      .form__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 48px;
      }

      .form__field {
        width: 50%;
      }
    }

    &:nth-child(5) {
      .form__list {
        padding-bottom: 30px;
      }
    }
  }

  .form__button {
    display: inline-block;
    width: 568px;
    margin-right: 80px;

    vertical-align: top;
  }

  .form__text {
    display: inline-block;
    width: 180px;
    padding-top: 15px;

    vertical-align: top;
  }
}
