.main-product {
  min-height: 305px;
  padding-top: 29px;
  padding-bottom: 22px;

  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.main-product__wrapper {
  padding-top: 273px;

  background-image: url("../../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;

  @include wrapper;
}

.main-product__header {
  margin: 0 0 19px;

  text-align: center;

  @include font(400, 36px, 36px, $font-family, $color-text-header--rev);
}

.main-product__text {
  text-align: center;

  @include font(400, 14px, 14px, $font-family, $color-text-header--rev);
}

.main-product__link {
  display: block;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-brand;

  @include font(400, 14px, 14px, $font-family, $color-text-header--rev);
}
