.main-product {
  background-image: url("../../img/index-can-mobile@1x.png"), url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 167px, left top;
  padding-top: 29px;
  padding-bottom: 22px;
  background-color: $color-brand;
}

.main-product__header {
  margin: 0 0 19px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  color: $color-text-header--rev;
}

.main-product__text {
  text-align: center;
  padding-bottom: 316px;
  font-size: 14px;
  line-height: 14px;
  color: $color-text-header--rev;
}

.main-product__link {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $color-brand;
  font-size: 14px;
  line-height: 14px;
  color: $color-text-header--rev;
  padding: 14px 74px 11px 73px;
}
