.main-product {
  min-height: 305px;
  padding-top: 28px;
  padding-bottom: 22px;

  background: url("../../img/index-background-mobile@1x.jpg") #63a73a;
  background-repeat: no-repeat;
}

.main-product__wrapper {
  min-height: 437px;

  background-image: url("../../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 20px 138px;

  @include wrapper;
}

.main-product__header {
  margin: 0 0 24px 0;

  text-align: center;

  @include font(400, 36px, 36px, $font-family, $color-text-header--rev);
}

.main-product__text {
  margin: 0 0 302px 0;

  text-align: center;
  text-transform: uppercase;

  @include font(400, 14px, 14px, $font-family, $color-text-header--rev);
}

.main-product__link {
  @include button(100%, 13px, 13px, 13px, 13px, $color-brand);
  @include font(400, 14px, 14px, $font-family, $color-text-header--rev);
}

@media (min-width: $tablet-width) {
  .main-product {
    padding-top: 42px;

    background: none $color-bg;
  }

  .main-product__wrapper {
    position: relative;

    min-height: 788px;
    padding: 0 116px;

    background-image: url("../../img/index-can-tablet@1x.jpg");
    background-position: 29px 201px;
  }

  .main-product__header {
    width: 415px;
    margin: 0 0 40px 0;

    text-align: left;

    @include font(400, 60px, 60px, $font-family, $color-text-header);
  }

  .main-product__text {
    margin: 0 0 49px 0;

    text-align: left;

    @include font(400, 20px, 20px, $font-family, $color-text-header);
  }

  .main-product__link {
    @include button(245px, 15px, 16px, 16px, 14px, $color-brand);
    @include font(400, 20px, 20px, $font-family, $color-text-header--rev);
  }
}

@media (min-width: $desktop-width) {
  .main-product {
    padding-top: 94px;

    background: url("../../img/index-can-desktop@1x.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 560px 13px;
  }

  .main-product__wrapper {
    min-height: 532px;
    padding: 0 120px;

    background-image: none;
  }

  .main-product__text {
    margin: 0 0 54px 0;
  }
}
