.map {
  position: relative;

  display: block;
  width: auto;
  max-width: $mobile-width;
  height: 362px;
  margin: 0 auto;

  background-color: $color-bg--alt;

  &:nth-child(2) {
    outline: 1px solid red;
  }
}

.map__wrapper {
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;

  & ~ .ymaps-2-1-75-map {
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 137px;
    left: calc(50% - 31px);
    z-index: 1;

    display: block;
    width: 55px;
    height: 53px;

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}


.map__img {
  display: block;
  width: 320px;
  height: 362;

  transform: translateY(-40px);
}

@media (min-width: $tablet-width) {
  .map {
    max-width: $tablet-width;
    height: 400px;

    &::before {
      top: 143px;
      left: 323px;

      width: 113px;
      height: 106px;
    }
  }

  .map__wrapper {
    &::before {
      top: 143px;
      left: calc(50% - 63px);

      width: 113px;
      height: 106px;
    }
  }

  .map__img {
    width: 767px;

    transform: translateY(-8px);
  }
}

@media (min-width: $desktop-width) {
  .map {
    max-width: $desktop-width;

    background-color: $color-bg--alt;
  }

  .map__wrapper {
    &::before {
      top: 150px;
      right: 330px;
      left: auto;
    }
  }

  .map__img {
    width: 1440px;
    height: 400px;

    transform: translateX(2px);
  }
}
