.menu-list {
  @include list-reset;
}

.menu-list__item {
  position: relative;

  display: block;
  padding: 24px 0 21px 0;

  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -$mobile-padding;

    display: block;
    width: 100vw;

    border-top: 1px solid $color-border;
  }
}

.menu-list__link {
  padding-bottom: 7px;

  text-transform: uppercase;
  text-decoration: none;
  word-wrap: normal;
  word-break: keep-all;

  @include font(400, 20px, 20px, $font-family, $color-menu);

  &--active {
    border-bottom: 2px solid $color-bg;
  }
}

.menu-list__link[href] {
  &:hover {
    color: $color-menu--hover;
  }

  &:active {
    color: $color-menu--active;
  }
}

@media (min-width: $tablet-width) {
  .menu-list {
    padding-top: 16px;
  }

  .menu-list__item {
    margin-right: 36px;
    padding-top: 22px;

    border-top: none;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      margin-right: 0;
    }

    &::before {
      display: none;
    }
  }

  .menu-list__link {
    padding-bottom: 7px;

    @include font(400, 18px, 25px, $font-family, $color-menu-alt);
  }

  .body-index .menu-list__link {
    color: $color-menu;
  }
}

@media (min-width: $desktop-width) {
  .menu-list__item {
    margin-right: 34px;
  }

  .menu-list__link {
    @include font(400, 20px, 25px, $font-family, $color-menu);
  }

  .page-header--index .menu-list__link[href] {
    &:hover {
      color: $color-menu-alt--hover;
    }

    &:active {
      color: $color-menu-alt--active;
    }
  }

  .body-index .menu-list__link {
    @include font(400, 20px, 25px, $font-family, $color-menu-alt);

    &--active {
      border-bottom: 2px solid $color-menu-alt;
    }
  }
}
