.nav-logo {
  display: block;


  &:hover {
    cursor: pointer;

    .nav-logo__img {
      opacity: 0.8;
    }
  }

  &:active {
    .nav-logo__img {
      opacity: 0.6;
    }
  }
}

.nav-logo__img {
  width: 191px;
  height: 39px;
}

@media (min-width: $tablet-width) {
  .nav-logo__img {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .nav-logo__img {
    width: 203px;
    max-width: none;
    height: 60px;
  }
}
