.nav {
  position: relative;

  width: auto;

  background-color: transparent;
}

.nav-logo {
  width: 191px;
  height: 39px;
  margin: 12px 0 14px 0;
}

.nav__toggle {
  position: absolute;
  top: 12px;
  right: 0;
  z-index: 2;

  display: block;
  width: auto;
  height: auto;
  padding: 0;

  background-color: $color-bg;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
  }

  &:hover {
    &::before {
      opacity: 0.3;
    }
  }
}

.nav--closed .nav__toggle {
  &::before {
    width: 25px;
    height: 19px;

    background-image: url("../img/icon-mobile-menu.svg");
  }
}

.nav--opened .nav__toggle {
  &::before {
    width: 19px;
    height: 19px;

    background-image: url("../img/icon-close.svg");
  }
}

.nav--nojs .nav__toggle {
  display: none;
}

.nav--closed .menu-list__item {
  display: none;
}

.nav__list {
  display: block;
}

@media (min-width: $tablet-width) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 12px 0 14px 0;
  }

  .nav__list {
    display: flex;
    padding-top: 8px;
  }

  .nav__toggle {
    display: none;
  }

  .nav--closed .menu-list__item {
    display: block;
  }
}
