.page-footer {
  background-color: $color-bg--alt;
}

.page-footer__contacts {
  padding-top: 25px;
  padding-bottom: 28px;

  background-color: $color-bg;
}

.page-footer__wrapper {
  @include wrapper;
}

.page-footer__map {
  position: relative;

  width: 100%;
  height: 362px;

  background-color: $color-bg--alt;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position-y: bottom;

  &::before {
    content: "";
    position: absolute;
    top: 138px;
    left: 129px;

    display: block;
    width: 55px;
    height: 53px;

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.page-footer__logo {
  padding-top: 38px;
  padding-bottom: 31px;

  border-bottom: 1px solid $color-border;
}

.page-footer__social {
  border-bottom: 1px solid $color-border;
}

@media (min-width: $tablet-width) {
  .page-footer__contacts {
    padding-top: 65px;
    padding-bottom: 62px;

    background-color: $color-bg;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 34px;
  }

  .page-footer__logo {
    display: flex;
    align-items: center;
    padding: 0;

    border-bottom: none;
  }

  .page-footer__social {
    border-bottom: none;
  }

  .page-footer__copyright {
    border-bottom: none;
  }

  .page-footer__map {
    height: 400px;

    @include outline(black);

    &::before {
      top: 143px;
      left: 322px;

      width: 113px;
      height: 106px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    position: relative;

    background-color: $color-bg--alt;
  }

  .page-footer__wrapper {
    max-width: $desktop-width;
    padding-top: 41px;
  }

  .page-footer__contacts {
    position: absolute;
    top: 95px;
    left: 110px;
  }

  .page-footer__map {
    background-color: $color-bg--alt;
  }
}
