.products {
  padding: 16px 0 0 0;
}

.products__header {
  margin: 0;
  padding: 0 20px 28px 20px;

  border-bottom: 1px solid $color-border;

  @include font(400, 36px, 60px, $font-family, $color-text-header);
}

.products__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include list-reset;
}

@media (min-width: $tablet-width) {
  .products__header {
    padding: 22px 0 28px 30px;

    border-bottom: none;

    @include font(400, 60px, 60px, $font-family, $color-text-header);
  }

  .products__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 134px;
  }
}

@media (min-width: $desktop-width) {
  .products {
    max-width: 1300px;
    margin: 0 auto;
    padding: 34px 40px 0 40px;
  }

  .products__header {
    padding-left: 0;
  }
}
