.product {
  width: 100%;
  padding-bottom: 25px;

  border-bottom: 1px solid $color-border;
}

.product__wrapper {
  width: 100%;

  @include wrapper;
}

.product__info {
  display: flex;
  justify-content: center;
}

.product__link {
  display: block;
  width: 140px;

  text-decoration: none;

  @include font(400, 16px, 20px, $font-family, $color-text);
}

.product__img {
  display: block;
  width: 140px;
  height: 144px;
  padding-top: 2px;
}

.product__description {
  width: 140px;
  min-height: 144px;
  padding-top: 20px;
}

.product__header {
  width: 64%;
  margin-top: 0;
  margin-bottom: 13px;

  text-transform: uppercase;

  @include font(400, 16px, 20px, $font-family, $color-text-header);
}

.product__facts {
  width: 140px;
  margin: 0;
  padding: 12px 0 0 0;

  border-collapse: collapse;

  @include font(400, 12px, 16px, $font-family--alt, $color-text-header);
}

.product__item {
  padding: 0;
}

.product__detail {
  width: 50%;
  padding: 0;
}

.product__value {
  width: 50%;
  padding: 0;

  text-align: right;
}

.product__order {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .product {
    position: relative;

    width: 324px;
    margin: 0 30px 140px 30px;
    padding: 165px 37px 40px 37px;

    background-color: $color-bg--alt;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }

  .product__wrapper {
    min-width: auto;
    padding: 0;
  }

  .product__info {
    display: block;
  }

  .product__img {
    position: absolute;
    top: -48px;
    left: 0;

    width: 100%;
    height: auto;
  }

  .product:nth-child(2n) .product__img {
    top: -81px;
  }

  .product__description {
    width: auto;
    margin-bottom: 32px;
    padding-top: 0;
  }

  .product__link {
    width: 100%;
  }

  .product__header {
    width: 100%;
    margin: 0 auto 19px auto;
    padding: 0 60px;

    text-align: center;

    @include font(400, 20px, 20px, $font-family, $color-text-header);
  }

  .product__facts {
    width: 100%;
    padding-top: 18px;

    @include font(400, 16px, 16px, $font-family--alt, $color-text-header);
  }

  .product__item {
    border-bottom: 1px solid #cdcdcd;
  }

  .product__detail {
    padding: 7px 0 8px 0;
  }

  .product__value {
    padding: 7px 0 8px 0;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 246px;
    margin: 0 78px 143px 0;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
  }

  .product__header {
    padding-right: 12px;
    padding-left: 11px;
  }

  .product__img {
    left: 0;
  }
}
