.products {
  padding: 16px 0 0 0;
}

.products__wrapper {
  @include wrapper;
}

.products__header {
  margin: 0;
  padding: 0 0 28px 0;

  border-bottom: 1px solid $color-border;

  @include font(400, 36px, 60px, $font-family, $color-text-header);
}

.products__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .products__header {
    padding: 22px 0 28px 0;

    border-bottom: none;

    @include font(400, 60px, 60px, $font-family, $color-text-header);
  }

  .products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 136px;
  }
}

@media (min-width: $desktop-width) {
  .products {
    padding: 34px 0 0 0;
  }
}
