.progress-list {
  display: flex;
  justify-content: space-between;
  padding: 0;

  list-style: none;
}

.progress-list__item {
  display: flex;
  flex-direction: column;
  width: 43.93%;
  margin: 0;

  text-align: center;
}

.progress-list__measure {
  display: block;
  padding: 14px 10px 17px;

  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @include font(400, 24px, 24px, $font-family, $color-text-header);
}

.progress-list__description {
  display: block;
  align-self: center;
  width: 87px;
  padding: 0 10px;

  text-transform: lowercase;

  background-color: $color-bg--alt;
  transform: translateY(-50%);

  @include font(400, 12px, 12px, $font-family--alt, $color-text);
}

@media (min-width: $tablet-width) {
  .progress-list {
    display: flex;
    justify-content: space-between;
  }

  .progress-list__item {
    width: 162px;
    margin-right: 42px;
    padding: 15px 0 18px 0;
  }

  .progress-list__measure {
    @include font(400, 30px, 37px, $font-family, $color-text-header);
  }

  .progress-list__description {
    top: 62px;

    width: 137px;
    padding: 0;

    background-color: $color-bg;

    @include font(400, 14px, 14px, $font-family--alt, $color-text);
  }
}

@media (min-width: $desktop-width) {
  .progress-list {
    justify-content: flex-start;
  }

  .progress-list__description {
    background-color: $color-bg;
  }
}
