.promo {
  position: relative;

  padding: 187px 55px 42px;

  background: url("../img/gift-photo-mobile@1x.jpg") $color-bg--image;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280px 100%;

  @media (min-resolution: $retina-dppx) {
    background: url("../img/gift-photo-mobile@2x.jpg") $color-bg--image;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 280px 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(34% - 68px / 2);
    left: calc(50% - 56px / 2);

    display: block;
    width: 56px;
    height: 61px;

    background-image: url("../img/icon-gift.svg");
  }
}

.promo__text {
  position: relative;

  margin: 0;
  padding: 0;

  text-align: center;

  @include font(400, 16px, 20px, $font-family--alt, $color-text--rev);
}

@media (min-width: $tablet-width) {
  .promo {
    padding: 72px 120px 68px 59.75%;

    background: url("../img/gift-photo-tablet@1x.jpg") $color-bg--image;
    background-size: 708px 100%;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/gift-photo-tablet@2x.jpg") $color-bg--image;
      background-size: 708px 100%;
    }

    &::before {
      top: 64px;
      left: 90px;
    }
  }


  .promo__text {
    padding: 0;

    text-align: left;

    &::before {
      left: 90px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 245px;
    margin-left: auto;
    padding: 187px 40px 40px;

    background: url("../img/gift-photo-desktop@1x.jpg") $color-bg--image;
    background-size: 245px 100%;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/gift-photo-desktop@2x.jpg") $color-bg--image;
      background-size: 245px 100%;
    }
  }

  .promo__text {
    padding: 0;

    text-align: center;
  }
}
