.promo {
  min-height: 289px;
  padding-top: 190px;
  padding-bottom: 43px;

  background-color: $color-brand;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo__text {
  display: block;
  width: 160px;
  margin: 0 auto;

  text-align: center;

  @include font(400, 16px, 20px, $font-family--alt, $color-text--rev);
}
