.radio__label {
  position: relative;

  padding-top: 11px;
  padding-left: 46px;

  text-transform: uppercase;

  cursor: pointer;

  @include font(400, 16px, 18px, $font-family, $color-label);

  &:hover > .radio__button {
    border-color: #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.radio__button {
  position: absolute;
  top: 8px;
  left: 0;

  width: 30px;
  height: 30px;

  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.radio__input:checked + .radio__button {
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;

    display: block;
    width: 12px;
    height: 12px;

    background-color: #68b738;
    border: 1px solid #68b738;
    border-radius: 50%;
  }
}

@media (min-width: $tablet-width) {
  .radio__label {
    padding-left: 87px;

    @include font(400, 20px, 20px, $font-family, $color-label);
  }
}

@media (min-width: $tablet-width) {
  .radio__button {
    top: 6px;
    left: 28px;

    width: 40px;
    height: 40px;
  }

  .radio__input:checked + .radio__button {
    &::before {
      top: 10px;
      left: 10px;

      width: 18px;
      height: 18px;
    }
  }
}
