.selection {
  padding-top: 16px;
}

.selection__wrapper {
  @include wrapper;
}

.selection__header {
  margin: 0 0 24px 0;

  @include font(400, 36px, 60px, $font-family, $color-text-header);
}

.selection__text {
  display: block;
  margin: 0 0 40px 0;

  text-transform: uppercase;

  @include font(400, 14px, 18px, $font-family, $color-text-header);
}

@media (min-width: $tablet-width) {
  .selection {
    padding-top: 38px;
  }

  .selection__header {
    margin: 0 0 56px 0;

    @include font(400, 60px, 60px, $font-family, $color-text-header);
  }

  .selection__text {
    margin: 0 0 65px 0;
    padding: 0 282px 0 40px;

    @include font(400, 20px, 30px, $font-family, $color-text-header);
  }
}

@media (min-width: $desktop-width) {
  .selection {
    padding-top: 56px;
  }

  .selection__text {
    width: 325px;
    margin-bottom: 65px;
    padding: 0;
  }
}
