.show-more {
  position: relative;

  width: 100%;
  padding-top: 77px;
  padding-bottom: 26px;

  border-bottom: 1px solid $color-border;

  &::before {
    content: "";
    position: absolute;
    top: 26px;
    left: calc(50% - 31px / 2);

    display: block;
    width: 31px;
    height: 31px;

    background-image: url("../img/icon-plus-mobile.svg");
    opacity: 0.2;
  }
}

.show-more__wrapper {
  @include wrapper;
}

.show-more__header {
  display: block;
  margin-bottom: 9px;

  text-align: center;
  text-transform: uppercase;

  @include font(400, 16px, 20px, $font-family, $color-header);
}

.show-more__text {
  margin: 0 0 22px 0;

  text-align: center;

  @include font(400, 12px, 16px, $font-family--alt, $color-text);
}

@media (min-width: $tablet-width) {
  .show-more {
    width: 324px;
    margin-left: 30px;
    padding: 165px 35px 40px 37px;

    border: 1px solid $color-border;


    &::before {
      top: 54px;
      left: calc(50% - 61px / 2);

      width: 61px;
      height: 61px;

      background-image: url("../img/icon-plus.svg");
    }
  }

  .show-more__wrapper {
    min-width: auto;
    padding: 0;
  }

  .show-more__header {
    margin-bottom: 27px;
    padding-right: 56px;
    padding-left: 58px;

    @include font(400, 20px, 20px, $font-family, $color-header);
  }

  .show-more__text {
    margin-bottom: 90px;
    padding-right: 40px;
    padding-left: 40px;

    @include font(400, 16px, 16px, $font-family--alt, $color-text);
  }

  .show-more__link {
    padding-right: 36px;
    padding-left: 36px;
  }
}

@media (min-width: $desktop-width) {
  .show-more {
    width: 246px;
    margin-bottom: auto;
    margin-left: 0;
  }

  .show-more__header {
    padding: 0;
  }

  .show-more__text {
    padding: 0;
  }
}
