.slider__wrapper {
  @include wrapper;
}

.slider__list {
  margin-bottom: 37px;
}

.slider__box {
  width: 320px;

}

.slider__controls {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 195px;
  margin: 0 auto;
  padding: 0;
}

.slider__label {
  position: relative;

  padding-bottom: 4px;

  text-transform: uppercase;

  border-bottom: 1px dotted rgba(34, 34, 34, 0.23);
  cursor: pointer;

  @include font(400, 16px, 18px, $font-family, $color-text-label);


  &:hover {
    border-bottom: 1px solid rgba(34, 34, 34, 0.4);
  }

  &:active {
    border-bottom: none;
  }
}

.slider__button {
  position: absolute;
  top: 3px;

  width: 42px;
  height: 14px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;


  &--before {
    left: 56px;

    border-right: none;
    border-radius: 7px 0 0 7px;
  }

  &--after {
    right: 55px;

    border-left: none;
    border-radius: 0 7px 7px 0;
  }
}

.slider__input--before:checked ~ .slider__controls .slider__button--before,
.slider__input--after:checked ~ .slider__controls .slider__button--after {
  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;

    display: block;
    width: 35px;
    height: 6px;

    background-color: #68b738;
    border: 1px solid #68b738;
    border-radius: 7px;
  }
}

.slider__img {
  display: none;
}

.slider__input--before:checked ~ .slider__list .slider__img--before {
  display: block;
}

.slider__input--after:checked ~ .slider__list .slider__img--after {
  display: block;
}

@media (min-width: $tablet-width) {
  .slider {
    padding-top: 45px;

    background-image: linear-gradient(to bottom, #ffffff 170px, rgba(255, 255, 255, 0) 170px), linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .slider__wrapper {
    max-width: $tablet-width;
  }

  .slider__list {
    position: relative;

    width: 100%;
    margin-bottom: 0;
  }

  .slider__box {
    width: 50%;
    overflow: hidden;

    &--after {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .slider__img {
    display: block;
    width: 100%;
    max-width: none;
    overflow: hidden;

    &--before {
      width: 200%;
      height: 499px;
    }

    &--after {
      width: 200%;
      height: 517px;

      transform: translateX(-50%);
    }
  }

  .slider__controls {
    width: auto;
    padding: 40px;
  }

  .slider__label {
    @include font(400, 20px, 20px, $font-family, #111111);
  }

  .slider__button {
    top: 6px;

    width: 260px;
    height: 6px;

    background-color: #dcdcdc;
    border-radius: 2.5px;
  }

  .slider__input--before:checked ~ .slider__controls .slider__button--before,
  .slider__input--after:checked ~ .slider__controls .slider__button--after {
    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 240px;
      z-index: 1;

      width: 34px;
      height: 34px;

      background-color: #ffffff;
      border: 1px solid #cdcdcd;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.15);
    }
  }
}
