.slider__list {
  max-width: $mobile-width;
  margin: 0 auto 30px auto;
}

.slider__box {
  width: 320px;
}

.slider__controls {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 195px;
  margin: 0 auto;
  padding: 0;
}

.slider__label {
  position: relative;

  padding-bottom: 4px;

  text-transform: uppercase;

  border-bottom: 1px dotted rgba(34, 34, 34, 0.23);
  cursor: pointer;

  @include font(400, 16px, 18px, $font-family, $color-text-label);


  &:hover {
    border-bottom: 1px solid rgba(34, 34, 34, 0.4);
  }

  &:active {
    border-bottom: none;
  }
}

.slider__toggle {
  position: absolute;
  top: 3px;

  width: 42px;
  height: 14px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;


  &--before {
    left: 56px;

    border-right: none;
    border-radius: 7px 0 0 7px;
  }

  &--after {
    right: 55px;

    border-left: none;
    border-radius: 0 7px 7px 0;
  }
}

.slider__input--before:checked ~ .slider__controls .slider__toggle--before,
.slider__input--after:checked ~ .slider__controls .slider__toggle--after {
  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;

    display: block;
    width: 35px;
    height: 6px;

    background-color: #68b738;
    border: 1px solid #68b738;
    border-radius: 7px;
  }
}

.slider__img {
  display: none;
  width: 320px;
  height: 240px;
}

.slider__input--before:checked ~ .slider__list .slider__img--before {
  display: block;
}

.slider__input--after:checked ~ .slider__list .slider__img--after {
  display: block;
}

@media (min-width: $tablet-width) {
  .slider {
    padding: 50px 0 65px;

    background-image: linear-gradient(to bottom, #ffffff 190px, rgba(255, 255, 255, 0) 190px), linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .slider__list {
    position: relative;

    max-width: $tablet-width;
    margin-bottom: 16px;
  }

  .slider__box {
    width: 50%;
    overflow: hidden;

    &--after {
      position: absolute;
      top: 0;
      right: 0;
    }
  }


  .slider__img {
    display: block;
    width: 100%;
    max-width: none;

    &--before {
      width: 181%;
      height: 515px;
      margin-left: 44px;
    }

    &--after {
      width: 180%;
      height: 514px;
      margin-left: 6px;

      transform: translateX(-50%);
    }
  }

  .slider__controls {
    width: 100%;
    max-width: $tablet-width;
    padding: 0 100px;
  }

  .slider__label {
    padding-bottom: 7px;

    @include font(400, 20px, 20px, $font-family, #111111);
  }

  .slider__toggle {
    display: none;
  }


  .slider__range {
    position: relative;
    top: 8px;

    width: 428px;
    height: 6px;

    background-color: #dcdcdc;
    border-radius: 2.5px;
  }

  .slider__button {
    position: relative;
    top: -13px;
    left: calc(50% - 14px);

    width: 34px;
    height: 34px;
    margin: 0;
    padding: 0;

    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 4px);
      left: calc(50% - 4px);

      width: 8px;
      height: 8px;

      background-color: #68b738;
      border-radius: 50%;
    }

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid #68b738;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    width: 690px;
    padding: 24px 0 44px 0;

    background-image: linear-gradient(to bottom, #ffffff 215px, rgba(255, 255, 255, 0) 215px), linear-gradient(to right, #f2f2f2 53%, #eaeaea 53%);
  }

  .slider__list {
    margin-bottom: 40px;
  }

  .slider__box {
    &--before {
      width: 52.7%;
    }

    &--after {
      width: 47.3%;
    }
  }

  .slider__img {
    &--before {
      width: 188%;
      margin-left: 0;

      object-fit: contain;
    }

    &--after {
      width: 200%;
      margin-left: 0;

      transform: translateX(-52%);
    }
  }

  .slider__controls {
    width: 690px;
    padding: 0 40px 0 80px;
  }
}
