.toggle__controls {
  position: relative;

  padding: 30px 58px 28px 63px;
}


.toggle__before {
  margin-right: 117px;

  text-transform: uppercase;

  @include font(400, 16px, 20px, $font-family, $color-text-header);
}

.toggle__after {
  text-transform: uppercase;

  @include font(400, 16px, 20px, $font-family, $color-text-header);
}

.toggle__scale {
  position: absolute;
  top: 33px;
  left: 119px;

  display: block;
  width: 84px;
  height: 14px;
  padding: 3px 6px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.toggle__bar {
  display: block;
  width: 35px;
  height: 6px;

  background-color: #68b738;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .toggle__before {
    @include font(400, 20px, 20px, $font-family, $color-text-header);
  }

  .toggle__controls {
    padding: 34px 65px 71px 98px;

    background-color: $color-bg--alt;
  }
}
