body {
  margin: 0;
  padding: 0;
  background-color: $color-bg;
  font-family: $font-family;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $color-text;
  word-break: break-word;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}
