@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin fieldset-reset {
  margin: 0;
  padding: 0;

  border: none;
}

@mixin placeholder {
  text-transform: uppercase;

  @include font(400, 16px, 18px, $font-family, $color-text);
}

}
