@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin fieldset-reset {
  margin: 0;
  padding: 0;

  border: none;
}

@mixin placeholder {
  text-transform: uppercase;

  @include font(400, 16px, 18px, $font-family, $color-text);
}

@mixin button($width, $p-top, $p-right, $p-bottom, $p-left, $color) {
  display: block;
  width: $width;
  padding-top: $p-top;
  padding-right: $p-right;
  padding-bottom: $p-bottom;
  padding-left: $p-left;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color;
  border: none;

  @include font(400, 16px, 20px, $font-family, $color-text--rev);
}

@mixin wrapper {
  min-width: 320px;
  margin: 0 auto;
  padding-right: $mobile-padding;
  padding-left: $mobile-padding;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    padding-right: $tablet-padding;
    padding-left: $tablet-padding;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding-right: $desktop-padding;
    padding-left: $desktop-padding;
  }
}

@mixin font($f-weight, $f-size, $l-height, $f-family, $color) {
  font-weight: $f-weight;
  font-size: $f-size;
  line-height: $l-height;
  font-family: $f-family;
  color: $color;
}
