$font-family: "Oswald", "Arial", sans-serif;
$font-family--alt: "Arial", "Helvetica", sans-serif;
$color-bg: #ffffff;
$color-bg--alt: #f2f2f2;
$color-text: #444444;
$color-text--rev: #ffffff;
$color-text-header: #111111;
$color-text-header--rev: #ffffff;
$color-text-link: #111111;
$color-text-label: #222222;
$color-brand: #68b738;
$color-border: #ededed;
